@model InsuranceBroker.Web.Areas.Administration.Models.CustomerModel
@{
    ViewBag.Title = this.Model.DisplayName;
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<section class="main-content">
    <p class="section-title">@ViewBag.Title</p>
    <p class="alert-text">¿Está seguro que desea eliminar a este cliente?</p>
    @using (Html.BeginForm("Delete", "Customer"))
    {
        <div class="fluid-row">
            <div class="action-button" onclick=" submit(); ">ACEPTAR</div>
            <div class="action-button" onclick=" callAction('@ViewBag.ViewAction', '@ViewBag.Controller', '@this.Model.Id'); ">CANCELAR</div>
        </div>
    }
    <fieldset>
        <legend>Datos Personales</legend>
        <div class="field-title">Nombre</div>
        @Html.DisplayFor(c => c.FirstName)
        <div class="field-title">Apellido</div>
        @Html.DisplayFor(c => c.LastName)
        <div class="field-title">Teléfono</div>
        @Html.DisplayFor(c => c.Telephone)
        <div class="field-title">Email</div>
        @Html.DisplayFor(c => c.Email)
    </fieldset>
</section>
