@model InsuranceBroker.Web.Areas.Administration.Models.BrokerModel
@{
    ViewBag.Title = this.Model.DisplayName;
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<section class="main-content">
    <p class="section-title">@this.Model.DisplayName</p>
        <div class="fluid-row">
            <div class="action-button" onclick=" callAction('@ViewBag.ListAction', '@ViewBag.Controller'); ">VOLVER</div>
            <div class="action-button" onclick=" callAction('@ViewBag.EditAction', '@ViewBag.Controller', '@this.Model.Id'); ">EDITAR</div>
            <div class="action-button" onclick=" callAction('@ViewBag.DeleteAction', '@ViewBag.Controller', '@this.Model.Id'); ">BORRAR</div>
        </div>
        <fieldset>
            <legend>Datos Personales</legend>
            <div class="field-title">Nombre</div>
            @Html.DisplayFor(c => c.FirstName)
            <div class="field-title">Apellido</div>
            @Html.DisplayFor(c => c.LastName)
            <div class="field-title">Teléfono</div>
            @Html.DisplayFor(c => c.Telephone)
            <div class="field-title">Email</div>
            @Html.DisplayFor(c => c.Email)
        </fieldset>
</section>